 @model WebUI.Models.UserRoleViewModel
 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <script>
        (function () {
             ("form").validate();
        });
    </script>
    <div class="container">
        <div class="row">
         <br />
            <br />
            <div class="col-12">
                <a href="@Url.Action("List","UserRole")" class="btn btn-success">UserRole List</a>
            </div>
              <br />
            <div class="col-12">
                @using (Html.BeginForm("Submit", "UserRole", FormMethod.Post))
                {
                    <div class="col-sm-12">
                    <div class="form-group" hidden>
                        <label>Id</label>
                         @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4"><div class="form-group">
<label>user</label>
@Html.DropDownListFor(model => model.UserId, Model.Dropdownuser," Select user", new { @class="form-control" })
@Html.ValidationMessageFor(model => model.UserId, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>role</label>
@Html.DropDownListFor(model => model.RoleId, Model.Dropdownrole," Select role", new { @class="form-control" })
@Html.ValidationMessageFor(model => model.RoleId, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Modifiedby</label>
@Html.TextBoxFor(model => model.Modifiedby, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Modifiedby, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Modifieddate</label>
@Html.TextBoxFor(model => model.Modifieddate, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Modifieddate, null, new { @class="error" })
</div>
</div>

                    @if (ViewBag.error != "")
                    {
                        <div>
                            @ViewBag.error
                        </div>
                    }
                    </div>
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
 
