 @model WebUI.Models.AccountingViewModel
 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <script>
        (function () {
             ("form").validate();
        });
    </script>
    <div class="container">
        <div class="row">
         <br />
            <br />
            <div class="col-12">
                <a href="@Url.Action("List","Accounting")" class="btn btn-success">Accounting List</a>
            </div>
              <br />
            <div class="col-12">
                @using (Html.BeginForm("Submit", "Accounting", FormMethod.Post))
                {
                    <div class="col-sm-12">
                    <div class="form-group" hidden>
                        <label>Id</label>
                         @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4"><div class="form-group">
<label>Accountname</label>
@Html.TextBoxFor(model => model.Accountname, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Accountname, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Property</label>
@Html.DropDownListFor(model => model.PropertyId, Model.DropdownProperty," Select Property", new { @class="form-control" })
@Html.ValidationMessageFor(model => model.PropertyId, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Vendor</label>
@Html.DropDownListFor(model => model.VendorId, Model.DropdownVendor," Select Vendor", new { @class="form-control" })
@Html.ValidationMessageFor(model => model.VendorId, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Accountid</label>
@Html.TextBoxFor(model => model.Accountid, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Accountid, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Accountno</label>
@Html.TextBoxFor(model => model.Accountno, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Accountno, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Balance</label>
@Html.TextBoxFor(model => model.Balance, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Balance, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Entitytype</label>
@Html.TextBoxFor(model => model.Entitytype, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Entitytype, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Modifiedby</label>
@Html.TextBoxFor(model => model.Modifiedby, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Modifiedby, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Modifieddate</label>
@Html.TextBoxFor(model => model.Modifieddate, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Modifieddate, null, new { @class="error" })
</div>
</div>

                    @if (ViewBag.error != "")
                    {
                        <div>
                            @ViewBag.error
                        </div>
                    }
                    </div>
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
 
