 @model WebUI.Models.ResidentViewModel
 @{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 <script>
        (function () {
             ("form").validate();
        });
    </script>
    <div class="container">
        <div class="row">
         <br />
            <br />
            <div class="col-12">
                <a href="@Url.Action("List","Resident")" class="btn btn-success">Resident List</a>
            </div>
              <br />
            <div class="col-12">
                @using (Html.BeginForm("Submit", "Resident", FormMethod.Post))
                {
                    <div class="col-sm-12">
                    <div class="form-group" hidden>
                        <label>Id</label>
                         @Html.TextBoxFor(model => model.Id, new { @class = "form-control" })
                    </div>
                    <div class="col-sm-4"><div class="form-group">
<label>Username</label>
@Html.TextBoxFor(model => model.Username, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Username, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Password</label>
@Html.TextBoxFor(model => model.Password, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Password, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Firstname</label>
@Html.TextBoxFor(model => model.Firstname, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Firstname, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Lastname</label>
@Html.TextBoxFor(model => model.Lastname, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Lastname, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Email</label>
@Html.TextBoxFor(model => model.Email, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Email, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Phoneno</label>
@Html.TextBoxFor(model => model.Phoneno, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Phoneno, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Detailedinfo</label>
@Html.TextBoxFor(model => model.Detailedinfo, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Detailedinfo, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Property</label>
@Html.DropDownListFor(model => model.PropertyId, Model.DropdownProperty," Select Property", new { @class="form-control" })
@Html.ValidationMessageFor(model => model.PropertyId, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Block</label>
@Html.DropDownListFor(model => model.BlockId, Model.DropdownBlock," Select Block", new { @class="form-control" })
@Html.ValidationMessageFor(model => model.BlockId, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Modifiedby</label>
@Html.TextBoxFor(model => model.Modifiedby, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Modifiedby, null, new { @class="error" })
</div>
</div>
<div class="col-sm-4"><div class="form-group">
<label>Modifieddate</label>
@Html.TextBoxFor(model => model.Modifieddate, new { @class="form-control" })
@Html.ValidationMessageFor(model => model.Modifieddate, null, new { @class="error" })
</div>
</div>

                    @if (ViewBag.error != "")
                    {
                        <div>
                            @ViewBag.error
                        </div>
                    }
                    </div>
                    <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
 
