@model WebUI.Models.SupportTicketViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    (function () {
        $("form").validate();
    });
</script>

<div class="container" style="background-color: #f2edf3; padding: 20px; border-radius: 10px;">
    <div class="row">
        <div class="col-14 mb-3">
            <a href="@Url.Action("List","SupportTicket")" class="btn btn-success">SupportTicket List</a>
        </div>

        <div class="col-12">
            @using (Html.BeginForm("Submit", "SupportTicket", FormMethod.Post))
            {
                <div class="col-sm-18">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Ticket</label>
                                @Html.TextBoxFor(model => model.Ticket, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Ticket, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Description</label>
                                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Description, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Severity</label>
                                @Html.TextBoxFor(model => model.Severity, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Severity, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Due Date</label>
                                @Html.TextBoxFor(model => model.Duedate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Duedate, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Service</label>
                                @Html.DropDownListFor(model => model.ServiceId, Model.Dropdownservice, "Select Service", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ServiceId, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Status</label>
                                @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Status, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Comment</label>
                                @Html.TextBoxFor(model => model.Comment, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Comment, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Vendor Employee Id</label>
                                @Html.TextBoxFor(model => model.VendorEmployeeId, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.VendorEmployeeId, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Vendor</label>
                                @Html.DropDownListFor(model => model.VendorId, Model.Dropdownvendor, "Select Vendor", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.VendorId, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="col-sm-3">
                            <div class="form-group">
                                <label>Modified By</label>
                                @Html.TextBoxFor(model => model.Modifiedby, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Modifiedby, null, new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="col-sm-3">
                            <div class="form-group">
                                <label>Modified Date</label>
                                @Html.TextBoxFor(model => model.Modifieddate, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Modifieddate, null, new { @class = "text-danger" })
                            </div>
                        </div>*@
                    </div>

                    @if (!string.IsNullOrEmpty(ViewBag.error))
                    {
                        <div class="text-danger">
                            @ViewBag.error
                        </div>
                    }

                    <div class="col-sm-12 text-center mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    
                </div>
            }
            </div>
        </div>
