@* @model WebUI.Models.PropertyViewModel
     @{
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

     <script>
            (function () {
                ("form").validate();
            });
        </script>
        <div class="container" style="background-color: #f2edf3; padding: 10px; border-radius: 10px;">
            <div class="row">
                <div class="col-14 mb-3">

                    <br />
                    <br />
                    <br />
                    <div class="col-12">
                        <a href="@Url.Action("List","Property")" class="btn btn-success">Property List</a>
                    </div>
                    <br />
                    <div class="col-12">
                        @using (Html.BeginForm("Submit", "Property", FormMethod.Post))
                        {
                            <div class="col-sm-12">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Propertyname</label>
                                        @Html.TextBoxFor(model => model.Propertyname, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Propertyname, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Address 1</label>
                                        @Html.TextBoxFor(model => model.Address1, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Address 2</label>
                                        @Html.TextBoxFor(model => model.Address2, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Address2, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>City</label>
                                        @Html.DropDownListFor(model => model.Cityid, Model.DropdownCity, " Select City", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Cityid, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>State</label>
                                        @Html.DropDownListFor(model => model.Stateid, Model.DropdownState, " Select State", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Stateid, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Country</label>
                                        @Html.DropDownListFor(model => model.Countryid, Model.DropdownCountry, " Select Country", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Countryid, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Zipcode</label>
                                        @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Zipcode, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Phoneno</label>
                                        @Html.TextBoxFor(model => model.Phoneno, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Phoneno, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Email</label>
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Email, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Modifiedby</label>
                                        @Html.TextBoxFor(model => model.Modifiedby, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Modifiedby, null, new { @class = "error" })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label>Modifieddate</label>
                                        @Html.TextBoxFor(model => model.Modifieddate, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Modifieddate, null, new { @class = "error" })
                                    </div>
                                </div>

                                @if (ViewBag.error != "")
                                {
                                    <div>
                                        @ViewBag.error
                                    </div>
                                }
                            </div>

                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>

                        }
                    </div>
                </div>
            </div>*@





@model WebUI.Models.PropertyViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    (function () {
        $("form").validate();
    });
</script>

<div class="container" style="background-color: #f2edf3; padding: 10px; border-radius: 10px;">
    <div class="row">
        <div class="col-12 mb-3">
            <br />
            <a href="@Url.Action("List","Property")" class="btn btn-success btn-sm">Property List</a>

            <div class="col-12">
            </div>
            <br />
            <div class="col-12">
                @using (Html.BeginForm("Submit", "Property", FormMethod.Post))
                {
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Property Name</label>
                                @Html.TextBoxFor(model => model.Propertyname, new { @class = "form-control", required = "required"})
                                @Html.ValidationMessageFor(model => model.Propertyname, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Phone No</label>
                                @Html.TextBoxFor(model => model.Phoneno, new { @class = "form-control", @type = "tel", @pattern = "[0-9]{10}", @title = "Enter a 10-digit phone number" })
                                @Html.ValidationMessageFor(model => model.Phoneno, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "email", @pattern = "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$", @title = "Enter a valid email address" })
                                @Html.ValidationMessageFor(model => model.Email, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Address 1</label>
                                @Html.TextAreaFor(model => model.Address1, new { @class = "form-control", rows = "4", cols = "3" })
                                @Html.ValidationMessageFor(model => model.Address1, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Address 2</label>
                                @Html.TextAreaFor(model => model.Address2, new { @class = "form-control", rows = "4", cols = "3" })
                                @Html.ValidationMessageFor(model => model.Address2, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Country</label>
                                @Html.DropDownListFor(model => model.Countryid, Model.DropdownCountry, " Select Country", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Countryid, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>State</label>
                                @Html.DropDownListFor(model => model.Stateid, Model.DropdownState, " Select State", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Stateid, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City</label>
                                @Html.DropDownListFor(model => model.Cityid, Model.DropdownCity, " Select City", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Cityid, null, new { @class = "error" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Zipcode</label>
                                @Html.TextBoxFor(model => model.Zipcode, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Zipcode, null, new { @class = "error" })
                            </div>
                        </div>
                       
                        @*<div class="col-md-3">
            <div class="form-group">
                <label>Modified By</label>
                @Html.TextBoxFor(model => model.Modifiedby, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Modifiedby, null, new { @class = "error" })
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Modified Date</label>
                @Html.TextBoxFor(model => model.Modifieddate, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Modifieddate, null, new { @class = "error" })
            </div>
        </div>*@
                    </div>

                    if (!string.IsNullOrEmpty(ViewBag.error))
                    {
                        <div class="text-danger">
                            @ViewBag.error
                        </div>
                    }


                    <div class="col-12 text-center mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

